@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('cool-image.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
}

main {
    margin: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(107, 123, 142, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#logo {
    max-width: 80px;
}

#text-block-1, #project-section {
    margin-top: 20px;
}

h2 {
    color: #ffb703;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: rgba(107, 123, 142, 0.7);
    position: relative;
    width: 100%;
}

#university-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

#university-logos img {
    max-width: 100px;
}
